<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <div class="container">
    <% messages.forEach((message)=> { %>
      <div class="message-card">
        <div class="message-content">
          <p class="user"><%= message.user %></p>
          <p class="text"><%= message.text %></p>
          <p class="added"><%= new Date(message.added).toISOString().slice(0, 19).replace('T', ' ') %></p>
        </div>
        <div class="message-btn"><button>Open</button></div>
      </div>
      <% }); %>
  </div>

  <div class="link-container">
    <a href="/new">Send Message</a>
  </div>
</body>

</html>